@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --m-background-color: #040415;
  --m-secondary-color: #c9c9d7;
  --m-border-color: #28303F;
  --m-secondary-bg-color: #fff;
  --m-main-light-color: #2F5ED2;
}
html.light:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 214, 219, 220;
  --m-background-color: #dddde8;
  --m-secondary-color: #eee;
  --m-secondary-bg-color: #fff;
}
html.dark:root {
  --foreground-rgb: 185, 184, 187;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --m-background-color: #040415;
  --m-secondary-color: #1F1F2C;
  --m-secondary-bg-color: #101020;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: var(--m-background-color);
}

.ant-input-affix-wrapper{
  height: 40px;
  border-radius: 8px!important;
  font-size: small !important;
  
}


html.dark .ant-input-affix-wrapper{
  
  border-color: #28303F!important;
  background-color: #1F1F2C!important;
}

html.light .ant-input-affix-wrapper{
  
  border-color: #eaf1ef!important;
  background-color: #eeeeee!important;
}


textarea{
  border-radius: 8px!important;
  
}
html.dark textarea{

  border-color: #28303F!important;
  background-color: #1F1F2C!important;
}

html.light textarea{
  
  border-color: #eaf1ef!important;
  background-color: #eeeeee!important;
}
.ant-form-item-row{
  align-items: center;
}


:not(.ant-input-affix-wrapper) > input, .ant-select, .ant-select-selector{
  border-color: var(--m-border-color)!important;
  background-color: var(--m-secondary-color)!important;
  border-radius: 5px !important;
  font-size: small!important;
}
html.dark  .ant-input-affix-wrapper > input{
  
  background-color: #1F1F2C;
}
html.light  .ant-input-affix-wrapper > input{
  
  background-color: #eeeeee!important;
}
.ant-input-number-affix-wrapper {
  width: 100%!important;
  border-radius: 8px!important;
}

html.dark .ant-input-number-affix-wrapper {
 
  background-color: #1F1F2C!important;
  
}

.ant-form-item-label > label{
  color: #A3A3A3!important;
  font-size: 12px !important;
  font-weight: 400!important;
}
.ant-btn{
  font-size: small !important;
    /* height: 50px!important; */
}

.ant-btn-round{
  border-radius: 36px!important;
}
/* width */
.styled-scrollbar::-webkit-scrollbar {
  height: 4px;
}

/* Track */
.styled-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.styled-scrollbar::-webkit-scrollbar-thumb {
  background: var(--m-border-color); 
  border-radius: 10px;
}

/* Handle on hover */
.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.styled-scrollbar{
  padding-bottom: 16px;
}


.ant-col{
  flex-grow: 1;
}
.ant-form-item{
  margin-bottom: 12px!important;
}

.ant-dropdown-menu{
  width: 268px;
  border-radius: 8px!important;
  padding-top: 12px !important;
  }
  
  .ant-dropdown-menu-item {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

@media (max-width: 1023px){
  .ant-modal-content{
    padding: 40px 16px!important;
  }
}
@media (min-width: 1024px){
  .ant-modal-content{
    border-radius: 8px!important;
    padding: 40px!important;
  }
}
.ant-table-wrapper{
  overflow: scroll;
}


@media (min-width: 767px) {
  .slant {
    position: relative;
    /* height: 100px;
    width: 200px; */
    /* background: #000; */
    /* float: left; */
  }
  .slant::before {
    content: '';
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 50px solid var(--m-background-color);
    border-bottom: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 15px solid transparent;
    position: absolute;
    top: 0;
    right: -15px;
    background: var(--m-main-light-color) none repeat scroll 0 0;
  }
}

svg{
  color: var(--foreground-rgb)!important;
  
}

.ant-input-prefix > svg{
  opacity: .2!important;
}

.ant-card{
  background-color: var(--m-secondary-bg-color)!important;
  border-color: var(--m-border-color);
  border-radius: 8px!important;
}
.ant-card-body{
  padding: 18px!important;
}
.ant-table-placeholder, .ant-table{
  background-color: var(--m-background-color)!important; 
}

.ant-table-thead >tr>th{
  background-color: var(--m-secondary-bg-color)!important; 
}

.ant-form-item-row{
  align-items: start;
}
.ant-form-item-row > .ant-form-item-control{
  max-width: 100%;
}

.ant-btn {
  font-weight: bold!important;
}

.ant-form-item-label{
  padding-bottom: 0!important;
}

.ant-form-item-label > label{
  font-weight: bold!important;
}
.ant-form-item-label > label::before{
  content: ''!important;
}
html.dark .ant-form-item-label > label{
  color: #fff!important;
}

.ant-modal-content{
  background-color: var(--m-secondary-bg-color)!important; 
  border-radius: 18px!important;
}


button.ant-modal-close{
  padding: 4px;
  border-radius: 20px!important;
  background-color: var(--m-secondary-color)!important;
  top: -10px!important;
  right: -6px!important;
}

html.dark button.ant-modal-close{
  background-color: #B9B8BB!important;
  color: rgb(var(--m-background-color))!important;
  
}

table {
  border-spacing:0 15px!important;
}

tr{
  background-color: var(--m-secondary-bg-color)!important; 
}
.ant-modal-header{
  background-color: transparent!important;
}